<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.common">

    <application>
        <provider
            android:name=".InitProvider"
            android:authorities="${applicationId}.contextprovider"
            android:exported="false"
            android:multiprocess="true"/>
    </application>
</manifest>